/AttributeCollection/Assembly-CSharp.csproj
/AttributeCollection/Assembly-CSharp-Editor.csproj
/AttributeCollection/AttributeCollection.sln
/AttributeCollection/.vscode
/AttributeCollection/Library
/AttributeCollection/Logs
/AttributeCollection/obj
/AttributeCollection/Packages
/AttributeCollection/ProjectSettings
/AttributeCollection/Temp
