/EditorKit/Assembly-CSharp.csproj
/EditorKit/Assembly-CSharp-Editor.csproj
/EditorKit/AttributeCollection.sln
/EditorKit/.vscode
/EditorKit/Library
/EditorKit/Logs
/EditorKit/obj
/EditorKit/Packages
/EditorKit/ProjectSettings
/EditorKit/Temp
/EditorKit/.vs
.vsconfig
*.csproj
AttributeCollection/.vs
